body {
  margin: auto;
  color: #fff;
  background-color: #000;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  filter: blur(150px);
}

.gradient {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
  mix-blend-mode: screen;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

.gradient-1 {
  background: rgb(204, 0, 0) none repeat scroll 0% 0% / auto padding-box
    border-box;
  width: 700px;
  height: 700px;
  animation-duration: 11s;
  opacity: 0.6;
  left: 60%;
  top: 40%;
  z-index: -2;
  animation-name: animation-gradient-1;
}
.gradient-2 {
  background: rgb(51, 204, 0) none repeat scroll 0% 0% / auto padding-box
    border-box;
  width: 600px;
  height: 600px;
  animation-duration: 11s;
  opacity: 0.6;
  left: 40%;
  top: 60%;
  z-index: -1;
  animation-name: animation-gradient-2;
}
.gradient-3 {
  background: rgb(0, 0, 204) none repeat scroll 0% 0% / auto padding-box
    border-box;
  width: 500px;
  height: 500px;
  animation-duration: 11s;
  opacity: 0.6;
  left: 50%;
  top: 50%;
  z-index: -3;
  animation-name: animation-gradient-3;
}

@keyframes animation-gradient-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(240deg) translateX(15%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

@keyframes animation-gradient-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(110deg) translateX(-5%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(300deg) translateX(-10%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

@keyframes animation-gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%)
      translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%)
      translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
}

#player {
  z-index: 10;
}

h1,
h2,
h3 {
  font-family: 'Righteous', serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
}

* {
  font-family: 'Space Grotesk', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

li {
  cursor: pointer;
}

#playback-mode-button:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.34));
  background: transparent;
}

#playback-mode-button {
  background: transparent;
}

#play-pause-button:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.34));
}

#play-pause-button:hover .MuiSvgIcon-root {
  transform: scale(1.1);
}

#play-pause-button:active {
  transform: scale(1);
  filter: none;
  color: rgba(0, 0, 0, 0.7);
}

#play-pause-button:active .MuiSvgIcon-root {
  transform: scale(1);
  filter: none;
}

#play-pause-button {
  display: inline-block;
  cursor: pointer;
  margin-top: 2px;
  color: rgb(0, 0, 0);
  background: transparent;
  margin-left: -26px;
}

#play-pause-button-mobile:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.34));
}

#play-pause-button-mobile:hover .MuiSvgIcon-root {
  transform: scale(1.1);
}

#play-pause-button-mobile:active {
  transform: scale(1);
  filter: none;
  color: rgba(0, 0, 0, 0.7);
}

#play-pause-button-mobile:active .MuiSvgIcon-root {
  transform: scale(1);
  filter: none;
}

#play-pause-button-mobile {
  display: inline-block;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background: transparent;
  margin-left: -26px;
}

#controls-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  padding: 14px 40px 10px 40px;
  border: 2px dashed #ccc;
  background-color: #bebebe28;
  width: 40vw;
  min-width: 300px;
}

#controls-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
  padding: 10px 4px 10px 4px;
  border: 2px dashed #ccc;
  background-color: #bebebe28;
  width: 80vw;
  min-width: 300px;
}

#volume-slider {
  width: 80px;
}

#time-tracker {
  max-width: 360px;
  width: 20vw;
  margin-left: 20px;
}

#volume-slider-mobile {
  width: 100px;
}

#time-tracker-mobile {
  width: 60vw;
}

.MuiSlider-thumb {
  color: rgb(0, 0, 0);
}

.MuiSlider-track {
  color: rgb(0, 0, 0);
}

.MuiSlider-rail {
  color: rgb(34, 21, 46);
}

.MuiSlider-thumb.Mui-focusVisible,
.MuiSlider-thumb:hover {
  box-shadow: none !important;
}

.MuiSwitch-root:focus,
.MuiSwitch-switchBase:focus {
  outline: none !important;
}

.MuiTouchRipple-root {
  display: none !important;
}

.MuiSwitch-thumb {
  background-color: white !important;
}

.Mui-checked .MuiSwitch-thumb {
  background-color: rgb(63, 63, 63) !important;
}

.MuiSwitch-track {
  background-color: rgb(182, 182, 182) !important;
}

.MuiIcon-fontSizeLarge {
  font-size: 40px !important;
}

.song-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: rgba(5, 5, 5, 0.3);
}

.song-list::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

.song-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(12, 12, 12);
}

.song-list::-webkit-scrollbar-thumb:active {
  background-color: rgb(10, 10, 10);
}

#clear-playlist-button {
  color: white;
  margin-left: -16px;
  margin-top: -2px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.34));
  background: transparent;
}

#clear-playlist-button:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.34));
}

#clear-playlist-button:hover .MuiSvgIcon-root {
  transform: scale(1.1);
}

#clear-playlist-button:active {
  transform: scale(1);
  filter: none;
  color: rgb(0, 0, 0);
}

#clear-playlist-button:active .MuiSvgIcon-root {
  transform: scale(1);
  filter: none;
}

#song-title {
  font-size: x-large;
  font-weight: bold;
  margin-top: -2px;
  text-align: center;
}

#song-artist {
  font-size: large;
  text-align: center;
}

#song-album-year {
  font-size: medium;
  margin-top: -2px;
  text-align: center;
}

.lyrics::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: rgba(5, 5, 5, 0.3);
}

.lyrics::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

.lyrics::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(12, 12, 12);
}

.lyrics::-webkit-scrollbar-thumb:active {
  background-color: rgb(10, 10, 10);
}

#music-note-top {
  transform: scale(4);
  margin-bottom: 10vh;
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.34))
    drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.34))
    drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.34))
    drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.34));
}

#music-note-bottom {
  transform: scale(4);
  margin-top: 10vh;
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.34))
    drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.34))
    drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.34))
    drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.34));
}

#skip-next-button {
  margin-right: 8px;
  margin-left: -8px;
}

#skip-back-button {
  margin-left: -20px;
  margin-right: -4px;
}

#skip-next-button:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.34));
}

#skip-back-button:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.34));
}

#skip-next-button:active {
  transform: scale(1);
  filter: none;
  color: rgba(0, 0, 0, 0.7);
}

#skip-back-button:active {
  transform: scale(1);
  filter: none;
  color: rgba(0, 0, 0, 0.7);
}

#skip-next-button,
#skip-back-button {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
}

#skip-next-button-mobile {
  margin-right: 8px;
  margin-left: -8px;
}

#skip-back-button-mobile {
  margin-left: -20px;
  margin-right: -4px;
}

#skip-next-button-mobile:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.34));
}

#skip-back-button-mobile:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.34));
}

#skip-next-button-mobile:active {
  transform: scale(1);
  filter: none;
  color: rgba(0, 0, 0, 0.7);
}

#skip-back-button-mobile:active {
  transform: scale(1);
  filter: none;
  color: rgba(0, 0, 0, 0.7);
}

#skip-next-button-mobile,
#skip-back-button-mobile {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
}

.lds-ellipsis {
  color: #ffffff;
}
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.MuiBottomNavigationAction-label {
  font-family: 'Space Grotesk', serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
